# Сборка
build/
cmake-build-*/

# Скомпилированные файлы
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IDE - CLion
.idea/
*.iml
*.iws
*.ipr

# IDE - VSCode
.vscode/
*.code-workspace

# IDE - Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

# Системные файлы
.DS_Store
Thumbs.db

# Временные файлы
*.swp
*~
*.log 